<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!--搜索-->
    <div class="container">
        <div class="row">
            <div class="input-group mb-3 col-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">商品id</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group  mb-3 col-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">商品名称</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group mb-3 col-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">上架状态</span>
                </div>
                <select class="form-control">
                    <option value="1">上架</option>
                    <option value="0">下架</option>
                </select>
            </div>
            <div class="input-group mb-3 col-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" >品牌</span>
                </div>
                <select class="form-control">
                    <option th:each="brand:${brandList}"
                            th:value="${brand.brandId}"
                            th:text="${brand.brandName}">
                    </option>
                </select>
            </div>
            <div>
                <button type="button" class="btn btn-success">增加商品</button>
                <button type="submit" class="btn btn-primary">查询</button>
            </div>
        </div>
    </div>
    <!--筛选面板-->

    <div></div>



</body>

<script>
    $(".aaa").click(function () {
        alert("aaa")
    })
</script>

</html>